body{
    background-color: darkgray;
}
header{
    background-color: rgb(77, 139,195);
    padding:3%
}
.logo{
    background-color: yellow;
}
nav{
    background-color: rgb(184, 209, 231);
}
main{
    background-color: rgb(146, 208, 80);
    width:80%;
    margin-right: auto;
    margin-left: auto;

}
section{
    background-color: lightsalmon;
}
footer{
    background-color: rgb(112, 48,160);
    padding: 3%
}